*.class

# Package Files #
*.war
*.ear
target/jprotobuf-1.10.jar
target
.gitignore
.svn
.project
.classpath
/bin/

.settings/org.eclipse.core.resources.prefs
/v3-b/
/jprotobuf-precompile-pluginv3/
/.idea/
/.settings/
/benchmark/
/.externalToolBuilders/
